{{outlet}}



<div class="container">

	{{#each model as |project|}}
	{{#paper-list}}
{{#paper-item}}
   {{paper-icon "description"}}
 <p {{action "transitionToProjectView" project}}>{{project.projectName}}</p>
 
 {{paper-divider}}
 
     {{/paper-item}}
    {{/paper-list}}
    {{/each}}


</div>
