{{outlet}}
<div class="layout-column">
  <div class ="project-details">
    {{#paper-subheader}}<h3>ProjectName: {{model.project.projectName}}</h3>{{/paper-subheader}}
    {{#paper-subheader}}<h4>CreatedAt:{{model.project.createdAt}}</h4>{{/paper-subheader}}
    {{!-- {{#paper-subheader}}<h4>CreatedBy:{{model.project.createdBy}}</h4>{{/paper-subheader}} --}}
    
{{#paper-button iconButton=true onClick=(action "showPromptDialogAction1")}}
    {{paper-icon "group_add"}}
    {{/paper-button}}
    {{#if showPromptDialog1}}
  {{#paper-dialog fullscreen=fullscreen onClose=(action "closePromptDialog1" "cancel" "ok2") origin=dialogOrigin clickOutsideToClose=true}}
    {{#paper-dialog-content}}
      {{!-- {{paper-input placeholder="teamName" autofocus=true value=projectName onChange=(action (mut teamName))}} --}}
     {{#each model.teams as |team|}}
     {{#paper-list}}
     {{#paper-item}}
     <p {{action "addTeamToProject" team}}> {{team.teamName}} </p>
     {{paper-divider}}
     {{/paper-item}}
     {{/paper-list}}
     {{/each}}
    {{/paper-dialog-content}}
    {{#paper-dialog-actions class="layout-row"}}
      <span class="flex"></span>
      {{#paper-button primary=true onClick=(action "closePromptDialog1" "cancel")}}Cancel{{/paper-button}}
      {{#paper-button primary=true onClick=(action "ok2")}}Ok{{/paper-button}}
    {{/paper-dialog-actions}}

  {{/paper-dialog}}
{{/if}}

    </div>
    
    {{paper-divider}}

    {{#paper-list}}
  {{#each model.tasks as |task|}}
    {{#paper-item class="md-3-line"}}
     {{!-- {{controls.checkbox value=x.enabled secondary=true onChange=(action (mut x.enabled))}} --}}
      <div class="md-list-item-text">
        
        <h3>{{task.taskName}}</h3>
        <h3>{{task.id}}</h3>
       <p> status:{{task.status}}</p>
        <p>due:{{task.dueDate}}</p>
        <p>assigned to: </p>
        {{#each task.assignTo as |user|}}
        <p>{{user.memberId}}</p>
        {{/each}}
        {{!-- {{#each task.assignTo as |assignTo|}}
        <p> {{assignTo.memberId}} </p>
        {{/each}} --}}


    
{{#paper-menu as |menu|}}
  {{#menu.trigger}}
    {{#paper-button iconButton=true}}
      {{paper-icon "more_vert"}}
    {{/paper-button}}
  {{/menu.trigger}}
  {{#menu.content width=4 as |content|}}
      {{#content.menu-item  onClick=(action "showDialogAction" task ) }}
        {{#paper-button}}  
          {{paper-icon "group_add"}}
        <span>add due date</span> {{/paper-button}}
      {{/content.menu-item}}
          {{paper-divider}}
          {{#content.menu-item}}
           {{#paper-button  onClick=(action "markComplete" task)}}
        {{paper-icon "done"}}      
        <span>Mark complete</span>
        {{/paper-button}}
        {{/content.menu-item}}
        {{paper-divider}}
         {{#content.menu-item onClick=(action "getUsers" task)}}
              {{#paper-button}}
        {{paper-icon "person_add"}}      
        <span>Assign Task</span>
        {{/paper-button}}
        {{/content.menu-item}}
  {{/menu.content}}
{{/paper-menu}}



        {{paper-divider}}
     
   

 
 </div>
 {{/paper-item}}

  {{/each}} 
  {{#if showDialog}}
  {{#paper-dialog class="flex-77" onClose=(action "closeDialog" "cancel1" "ok1") origin=dialogOrigin clickOutsideToClose=true}}
     {{#paper-toolbar}}
      {{#paper-toolbar-tools}}
        <h2>Due Date</h2>
           {{task.id}}
        <span class="flex"></span>
        {{#paper-button iconButton=true onClick=(action "closeDialog" "cancel1")}}{{paper-icon icon="close"}}{{/paper-button}}
      {{/paper-toolbar-tools}}
    {{/paper-toolbar}}
   {{#paper-dialog-content}}
     {{paper-input class="flex" label="dueDate" type="date" value=dueDate onChange=(action (mut dueDate))}}

    {{/paper-dialog-content}}

    {{#paper-dialog-actions class="layout-row"}}
      <span class="flex"></span>
    
      {{#paper-button onClick=(action "closeDialog" "cancel")}}Cancel{{/paper-button}}
      {{#paper-button onClick=(action "ok1" task)}}OK{{/paper-button}}
    {{/paper-dialog-actions}} 
  {{/paper-dialog}}
{{/if}}


{{#if showDialog1}}
  {{#paper-dialog class="flex-77" onClose=(action "closeDialog1" "cancel2" "ok3") origin=dialogOrigin clickOutsideToClose=true}}
     {{#paper-toolbar}}
      {{#paper-toolbar-tools}}
        <h2>Assign Task</h2>
           {{task.id}}
        <span class="flex"></span>
        {{#paper-button iconButton=true onClick=(action "closeDialog1" "cancel2")}}{{paper-icon icon="close"}}{{/paper-button}}
      {{/paper-toolbar-tools}}
    {{/paper-toolbar}}
   {{#paper-dialog-content}}
     {{#each members as |user|}}
     {{#paper-list}}
     {{#paper-item}}
     <p {{action "add" user}}>{{user.name}} </p>
     {{paper-divider}}
     {{/paper-item}}
     {{/paper-list}}
      {{/each}}
      {{!-- {{#paper-list}}
      {{#paper-subheader}}Members{{/paper-subheader}} --}}
      {{!-- {{#each members as |item|}}
      {{#paper-item class="3-md-line" onClick =(action "add" item)}}
      <div class="md-list-item-text">
        <h3>{{item.name}}</h3>
      </div>
      {{/paper-item}}
      {{paper-divider}}
      {{/each}}
      {{/paper-list}} --}}
    {{/paper-dialog-content}}
  {{/paper-dialog}}
{{/if}}
     {{/paper-list}}
</div>


<div class="layout-row layout-align-center-end">
  <button type="button" class="block"{{action "showPromptDialogAction" }}><span class="plus">+</span>Add Task</button>
{{!-- {{#paper-button primary=true fab=true onClick=(action "showPromptDialogAction")}}+{{/paper-button}} --}}
{{#if showPromptDialog}}
  {{#paper-dialog fullscreen=fullscreen onClose=(action "closePromptDialog" "cancel" "ok") origin=dialogOrigin clickOutsideToClose=true}}
    {{#paper-dialog-content}}
      {{!-- {{paper-input placeholder="projectName" autofocus=true value=projectName onChange=(action (mut projectName))}} --}}
      {{paper-input placeholder="taskName" autofocus=true value=taskName onChange=(action (mut taskName))}}
    {{/paper-dialog-content}}
    {{#paper-dialog-actions class="layout-row"}}
      <span class="flex"></span>
      {{#paper-button primary=true onClick=(action "closePromptDialog" "cancel")}}Cancel{{/paper-button}}
      {{#paper-button primary=true onClick=(action "ok")}}Ok{{/paper-button}}
    {{/paper-dialog-actions}}

  {{/paper-dialog}}
{{/if}}
</div>