{{outlet}}
<div class="layout-column">
  <div class ="project-details">
    {{#paper-subheader}}<h3>ProjectName: {{model.project.projectName}}</h3>{{/paper-subheader}}
    {{#paper-subheader}}<h4>CreatedAt:{{model.project.createdAt}}</h4>{{/paper-subheader}}
    {{#paper-subheader}}<h4>CreatedBy:{{model.project.createdBy}}</h4>{{/paper-subheader}}
    </div>
    
    {{paper-divider}}

    {{#paper-list}}
  {{#each model.tasks as |x|}}
    {{#paper-item as |controls|}}
     {{controls.checkbox value=x.enabled secondary=true onChange=(action (mut x.enabled))}}
     
      <div class="md-list-item-text">
        {{x.taskName}} 
        {{#paper-button iconButton=true onClick=(action "deleteTask" x)}}  
       {{paper-icon "delete"}}
       {{/paper-button}}
        {{paper-divider}}
      </div>
    {{/paper-item}}
  {{/each}} 
     {{/paper-list}}
</div>

<div class="layout-row layout-align-center-end">
{{!-- {{#paper-button raised=true mini=true}}Mini{{/paper-button}} --}}
{{!-- {{#paper-button raised=true primary=true fab=true}}Add Task{{/paper-button}} --}}
<button type="button" class="block"><span class="plus">+</span>Add Task</button>
</div>
{{!-- <div class="layout-row layout-align-center-end">
    {{paper-input label="Add Task" type="text" value=name2 block=true 
    onChange=(action (mut name2))}}
    {{#paper-button iconButton="true" onClick=(action "addTask" model)}}
        {{paper-icon "add"}}
    {{/paper-button}}
</div> --}}
