{{outlet}}
<div class="layout-column">
  <div class ="project-details">
    {{#paper-subheader}}<h3>ProjectName: {{model.project.projectName}}</h3>{{/paper-subheader}}
    {{#paper-subheader}}<h4>CreatedAt:{{model.project.createdAt}}</h4>{{/paper-subheader}}
    {{#paper-subheader}}<h4>CreatedBy:{{model.project.createdBy}}</h4>{{/paper-subheader}}
    </div>
    
    {{paper-divider}}

    {{#paper-list}}
  {{#each model.tasks as |x|}}
    {{#paper-item as |controls|}}
     {{controls.checkbox value=x.enabled secondary=true onChange=(action (mut x.enabled))}}
     
      <div class="md-list-item-text">
        {{x.taskName}} 
        {{paper-divider}}
      </div>
    {{/paper-item}}
  {{/each}} 
     {{/paper-list}}
</div>



<div class="layout-row layout-align-center-end">
  <button type="button" class="block"{{action "showPromptDialogAction" }}><span class="plus">+</span>Add Task</button>
{{!-- {{#paper-button primary=true fab=true onClick=(action "showPromptDialogAction")}}+{{/paper-button}} --}}
{{#if showPromptDialog}}
  {{#paper-dialog fullscreen=fullscreen onClose=(action "closePromptDialog" "cancel") origin=dialogOrigin}}
    {{#paper-dialog-content}}
      {{!-- {{paper-input placeholder="projectName" autofocus=true value=projectName onChange=(action (mut projectName))}} --}}
      {{paper-input placeholder="taskName" autofocus=true value=taskName onChange=(action (mut taskName))}}
    {{/paper-dialog-content}}
    {{#paper-dialog-actions class="layout-row"}}
      <span class="flex"></span>
      {{#paper-button primary=true onClick=(action "closePromptDialog" "cancel")}}Cancel{{/paper-button}}
      {{#paper-button primary=true onClick=(action "ok")}}Ok{{/paper-button}}
    {{/paper-dialog-actions}}

  {{/paper-dialog}}
{{/if}}
</div>