{{outlet}}
<div class="layout-column">
  <div class ="project-details">
    {{#paper-subheader}}<h3>ProjectName: {{model.project.projectName}}</h3>{{/paper-subheader}}
    {{#paper-subheader}}<h4>CreatedAt:{{model.project.createdAt}}</h4>{{/paper-subheader}}
    {{!-- {{#paper-subheader}}<h4>CreatedBy:{{model.project.createdBy}}</h4>{{/paper-subheader}} --}}
    

    </div>
    
    {{paper-divider}}

    {{#paper-list}}
  {{#each model.tasks as |task|}}
    {{#paper-item class="md-3-line"}}
     {{!-- {{controls.checkbox value=x.enabled secondary=true onChange=(action (mut x.enabled))}} --}}
      <div class="md-list-item-text">
        
        <h3>{{task.taskName}}</h3>
        <h3>{{task.id}}</h3>
       <p> status:{{task.status}}</p>
        <p>due:{{task.dueDate}}</p> 


     {{#paper-button onClick=(action "deleteTask" task)}}{{paper-icon "delete"}}{{/paper-button}}


{{#paper-menu as |menu|}}
  {{#menu.trigger}}
    {{#paper-button iconButton=true}}
      {{paper-icon "more_vert"}}
    {{/paper-button}}
  {{/menu.trigger}}
  {{#menu.content width=4 as |content|}}
      {{#content.menu-item  onClick=(action "showDialogAction" ) }}
        {{#paper-button }}  
          {{paper-icon "group_add"}}
        <span>add  due date</span> {{/paper-button}}
      {{/content.menu-item}}
          {{paper-divider}}
          {{#content.menu-item}}
           {{#paper-button  onClick=(action "markComplete" task)}}
        {{paper-icon "done"}}      
        <span>Mark complete</span>
        {{/paper-button}}
        {{/content.menu-item}}
  {{/menu.content}}
{{/paper-menu}}



        {{paper-divider}}
     
   

 {{#if showDialog}}
  {{#paper-dialog class="flex-77" onClose=(action "closeDialog" "cancel") origin=dialogOrigin clickOutsideToClose=true}}
     {{#paper-toolbar}}
      {{#paper-toolbar-tools}}
        <h2>Due Date</h2>
        {{task.id}}
        <span class="flex"></span>
        {{#paper-button iconButton=true onClick=(action "closeDialog" "cancel")}}{{paper-icon icon="close"}}{{/paper-button}}
      {{/paper-toolbar-tools}}
    {{/paper-toolbar}}
   {{#paper-dialog-content}}
     {{paper-input class="flex" label="dueDate" type="date" value=dueDate onChange=(action (mut dueDate))}}

    {{/paper-dialog-content}}

    {{#paper-dialog-actions class="layout-row"}}
      <span class="flex"></span>
    
      {{#paper-button onClick=(action "closeDialog" "cancel")}}Cancel{{/paper-button}}
      {{#paper-button onClick=(action "ok1" task)}}OK{{/paper-button}}
    {{/paper-dialog-actions}} 
  {{/paper-dialog}}
{{/if}}
 </div>
 {{/paper-item}}

  {{/each}} 
     {{/paper-list}}
</div>


<div class="layout-row layout-align-center-end">
  <button type="button" class="block"{{action "showPromptDialogAction" }}><span class="plus">+</span>Add Task</button>
{{!-- {{#paper-button primary=true fab=true onClick=(action "showPromptDialogAction")}}+{{/paper-button}} --}}
{{#if showPromptDialog}}
  {{#paper-dialog fullscreen=fullscreen onClose=(action "closePromptDialog" "cancel") origin=dialogOrigin clickOutsideToClose=true}}
    {{#paper-dialog-content}}
      {{!-- {{paper-input placeholder="projectName" autofocus=true value=projectName onChange=(action (mut projectName))}} --}}
      {{paper-input placeholder="taskName" autofocus=true value=taskName onChange=(action (mut taskName))}}
    {{/paper-dialog-content}}
    {{#paper-dialog-actions class="layout-row"}}
      <span class="flex"></span>
      {{#paper-button primary=true onClick=(action "closePromptDialog" "cancel")}}Cancel{{/paper-button}}
      {{#paper-button primary=true onClick=(action "ok")}}Ok{{/paper-button}}
    {{/paper-dialog-actions}}

  {{/paper-dialog}}
{{/if}}
</div>