{{outlet}}

{{#paper-card as |card|}}
      {{paper-input class="topicsearchbar" label="Start a Topic" value=name onChange=(action (mut name))}}
        {{#card.actions}}
        <a href="#" {{action 'goToDiscussion' name}}>
        {{paper-icon "add"}}
        </a>
      {{/card.actions}}
    {{/paper-card}}
{{#paper-list}}
  {{#paper-subheader}}Existing Discussions{{/paper-subheader}}
  {{#each model as |item|}}
    {{#paper-item class="md-3-line" onClick=(action "goToRoom" item.roomName)}}
      <div class="md-list-item-text">
        <h3>{{item.roomName}}</h3>
      </div>
    {{/paper-item}}
  {{/each}}
{{paper-divider}}
{{/paper-list}}

